<div class="container__box" id="homepage">

    

    <!-- Main body content -->
    <div class="content__box">

        <!-- Search Box -->
        <div class="search__container">
            <div class="search__icon__box"></div>
            <input id="search_input" class="search__input" />
        </div>


        <!-- Main Hero Banner -->
        <div class="slider-wrapper">
           <div class="wrapper"></div>
           <div class="hero-banner"></div>
           <div class="wrapper"></div>
        </div>


        <!-- Tab switcher -->
        <div class="tab__container" id="tab_container">
            <div class="griddy" id="griddy">
            </div>
        </div>


        <!-- Products card container -->
        <div class="jumbo__container" id="promotions_container">
            
            <div class="products__container" id="promotions_products_container">
                
            </div>
        </div>

        <div class="product__wrapper">
            <div class="product__header__bar" id="product_header_bar">
                

                <!-- Filter Dropdown -->
                <div class="dropdown__filter">
                    <label class="drop">
                        <input type="checkbox" id="target-drop-example">
                        <span class="control">Sort by: <strong>Volume</strong></span>
                        <ul class="drop-items" id="dropdown_items">

                        </ul>
                        <!-- Alternative to close dropdown with click out -->
                        <label for="target-drop-example" class="overlay-close"></label>
                    </label>   
                </div>
            </div>


            <!-- Product Carousel -->
            <div class="product__item__container" id="product_item_container">
                
            </div>

        </div>
    </div>
</div>